html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.el-breadcrumb {
 margin-bottom: 15px;
 font-size: 14px;
}

.box-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !;
}

.el-table{
  margin-top: 10px;
}